<!-- Chapitre 10 : Effectuer des requêtes HTTP standards -->
<!-- On met un $ à la fin de pokemons pour indiquer que c'est un flux de données -->
<!-- async permet de remplacer ngOnInit(): { this.pokemons$.subscribe(pokemons => this.pokemons = pokemons); } -->
<div class="w-full flex justify-center items-center py-5 ">
  <p-card header="" class=" w-3/4 md:w-1/2 " >
    <!-- <p-autoComplete [(ngModel)]="selectedItem" [suggestions]="filteredPokemons" (completeMethod)="search($event.query)"></p-autoComplete> -->
    <div class="w-full text-lg p-2">
      <input #searchBox (keyup)="search(searchBox.value)"
        placeholder="Rechercher un pokémon"
        class="w-full border-hidden"
      />
    </div>

    <div *ngIf="pokemons$" class="flex flex-col justify-start items-start p-5">
      <a *ngFor="let pokemon of pokemons$ | async"
        (click)="goToDetail(pokemon)" class=" w-full border border-solid m-2 p-2">
        {{ pokemon.name }}
      </a>
    </div>
  </p-card>
    <!-- <div class="col s12 m6 offset-m3">
      <div class="card">
        <div class="card-content">
          <div class="input-field">
            <input #searchBox (keyup)="search(searchBox.value)"
              placeholder="Rechercher un pokémon"/>
          </div>
    
          <div class="collection">
            <a *ngFor="let pokemon of pokemons$ | async"
              (click)="goToDetail(pokemon)" class="collection-item">
              {{ pokemon.name }}
            </a>
          </div>
        </div>
      </div>
    </div> -->
  </div>
