<!-- Chapitre 6 : Les Routes --> 
<div *ngIf="pokemon" class=' w-full min-h-[95%] flex flex-col items-center justify-start bg-slate-700'>
  <h1 class=" text-2xl md:text-5xl text-white" >{{ pokemon.name }}</h1>
  <div class="flex flex-row flex-wrap justify-around items-stretch w-2/3 min-h-1/2 rounded bg-slate-50 shadow-md" >
    <div class=" flex flex-col items-center justify-start flex-grow h-full" >
      <img [src]="pokemon.picture">
    </div>
    <div class=" flex flex-col justify-stretch flex-wrap flex-grow-[6] min-h-full" >
      <div class=" w-full flex-grow-[4]">
        <table class="w-full h-full">
          <tbody class="w-full h-full [&>*:nth-child(even)]:bg-slate-300">
            <tr>
              <td>Nom</td>
              <td><strong>{{ pokemon.name }}</strong></td>
            </tr>
            <tr>
              <td>Points de vie</td>
              <td><strong>{{ pokemon.hp }}</strong></td>
            </tr>
            <tr>
              <td>Dégâts</td>
              <td><strong>{{ pokemon.cp }}</strong></td>
            </tr>
            <tr>
              <td>Types</td>
              <td class=" flex flex-row flex-wrap">
                <span 
                  *ngFor="let type of pokemon.types" 
                  class="rounded-lg m-2 p-1 text-white"
                  [ngStyle]="type | pokemonTypeColor"
                >
                {{ type }}
              </span>
              </td>
            </tr>
            <tr>
              <td>Date de création</td>
              <td><em>{{ pokemon.created}}</em></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class=" w-full flex justify-around items-center rounded-br text-white text-xl font-semibold no-underline flex-grow bg-teal-600">
        <a (click)="goToPokemonList()" class="cursor-pointer" >Retour</a>
        <a (click)="goToEditPokemon(pokemon)" class="cursor-pointer">Éditer</a>
        <a (click)="deletePokemon(pokemon)" class="cursor-pointer">Supprimer</a>
      </div>
    </div>
  </div>
</div>
<h4 *ngIf='!pokemon' class=' w-full min-h-[95%] flex flex-col items-center justify-start bg-slate-700'>
  <app-loader></app-loader>
</h4>
    
